.about-content {
  padding: 30px 20px 90px;
  color: #fff;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateX(0px);
}

.about-content h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.about-content img {
  width: 60vw;
  min-width: 220px;
  max-width: 300px;
  margin-bottom: 20px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 15px;
}

.about-body {
  padding-left: 20px;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  line-height: 160%;
  color: #434f9c;
  border-left: 4px solid #fff;
}

.resume {
  font-size: 1.2rem;
  color: #6e78b4;
  text-decoration: none;
}

.resume i {
  margin-right: 5px;
}

@media only screen and (min-width: 769px) {

  .about-content {
    max-width: 800px;
    margin: 0 50px;
  }

  .about-body {
    font-size: 1.1rem;
  }

}

@media only screen and (min-width: 1025px) {

  

}
