.about-holder {
  background-color: #303d51;
}

.about-content {
  color: #d88261;
  opacity: 0;
  padding: 30px 20px 90px;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.about-content h1 {
  font-size: 2.5rem;
}

.about-content img {
  border-radius: 15px;
  margin-bottom: 12px;
  max-width: 300px;
  min-width: 220px;
  width: 60vw;
}

.about-body {
  border-left: 4px solid #d88261;
  color: #fff;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 160%;
  padding: 15px 0 15px 20px;
}

.resume {
  color: rgb(214, 230, 255);
  display: inline-block;
  font-size: 1.2rem;
}

.resume:hover {
  color: #fff;
  cursor: pointer;
}

.resume i {
  margin-right: 5px;
}

@media only screen and (min-width: 769px) {

  .about-content {
    margin: 0 100px;
    max-width: 80%;
  }
  .about-body {
    font-size: 1.1rem;
    padding-left: 30px;
  }
  
}