.about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: calc(100vh + 20px);
  background-color: #fdbf6c;
}

.about-section > header {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, #f8ae6a 0%,#fdbf6c 100%);
}

.about-content {
  padding: 30px 30px 90px;
  color: #fff;
}

.about-content h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.about-content p {
  padding-left: 10px;
  font-size: 0.9rem;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0px;
  color: #4c59a6;
  border-left: 4px solid #fff;
}
