html {
  height: 100%;
  font-family: 'Lora', serif;
  letter-spacing: 3px;
  background-color: #fff;
}

body {
  height: 100%;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
}

.section-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: calc(100vh + 20px);
}

.section-holder > header {
  width: 100%;
  height: 60px;
}

/* background: #d88261;
background-image: -moz-linear-gradient(top, #fbb988 0%, #d88261 100%);
background-image: -webkit-linear-gradient(top,  #fbb988 0%,#d88261 100%);
background-image: linear-gradient(to bottom,  #fbb988 0%,#d88261 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb988', endColorstr='#d88261',GradientType=0 ); IE6-9 */

@media only screen and (min-width: 769px) {

  .main-header {
    margin-bottom: 25px;
  }

}