.blog-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh + 20px);
  background-color: royalblue;
}

.blog-section-content {
  margin-top: -30px;
  align-self: center;
  text-align: center;
  color: #fff;
}

.blog-section-content h1 {
  font-size: 2.5rem;
}

.blog-section-content p {
  font-size: 1.5rem;
}

.blog-section-content p a {
  color: darkorange;
  text-decoration: none;
}
