.blog-page {
  width: 100%;
  height: 100vh;
  background-color: orange;
}

.blog-page-content {
  position: relative;
  top: 8rem;
  left: 6rem;
  color: #fff;
}

.blog-page-content h1 {
  font-size: 4rem;
}

.blog-page-content p {
  font-size: 2rem;
}

.blog-page-content p a {
  text-decoration: none;
}
