.blog-page {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #6e78b4;
}

.blog-page-content {
  align-self: center;
  padding: 90px 20px;
  text-align: center;
  color: #fff;
}

.blog-page-content > h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.blog-page-content > p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.blog-page-content > h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.blog-page-content > p a {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  color: #f8ae6a;
  font-family: 'Lora', serif;
  text-decoration: none;
  letter-spacing: 1px;
}

.blog-page-content a i {
  margin-right: 5px;
}

.blog-page-content .blog-post-card {
  max-width: 500px;
  margin-bottom: 15px;
  padding: 15px;
  letter-spacing: 1px;
  text-align: left;
  font-family: 'Lora', serif;
  background-color: rgba(0, 0, 0, 0.2);
  border: 4px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.blog-page-content .blog-post-card:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.blog-page-content .blog-post-card h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.blog-page-content .blog-post-card p {
  margin-bottom: 5px;
  font-family: 'Lora', serif;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
  line-height: 160%;
}

.blog-page-content .blog-post-card div {
  margin-top: 10px;
  font-size: 0.8rem;
}

@media only screen and (min-width: 769px) {

  .blog-page-content .blog-post-card p {
    font-size: 1.1rem;
  }

}