.blog-page {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #d88261;
}

.blog-page-content {
  align-self: center;
  padding: 90px 20px;
  text-align: center;
  color: #fff;
}

.blog-page-content > h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: #303d51;
}

.blog-page-content > p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.blog-page-content > h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.blog-page-content > p a {
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
  color: rgb(214, 230, 255);
  font-family: 'Lora', serif;
  text-decoration: none;
  letter-spacing: 1px;
}

.blog-page-content > p a:hover {
  color: #fff;
  cursor: pointer;
}

.blog-page-content a i {
  margin-right: 5px;
}

.blog-page-content .blog-post-card {
  max-width: 500px;
  margin-bottom: 20px;
  padding: 20px;
  letter-spacing: 1px;
  text-align: left;
  font-family: 'Lora', serif;
  background-color: #af6752;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #a6604c;
  cursor: pointer;
}

.blog-page-content .blog-post-card:hover {
  background-color: #a6604c;
}

.blog-page-content .blog-post-card h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.blog-page-content .blog-post-card p {
  margin-bottom: 5px;
  font-family: 'Lora', serif;
  color: #ddbfb8;
  letter-spacing: 1px;
  line-height: 160%;
}

.blog-page-content .blog-post-card div {
  margin-top: 10px;
  font-size: 0.8rem;
}

@media only screen and (min-width: 769px) {

  .blog-page-content .blog-post-card p {
    font-size: 1.1rem;
  }

}