.blog-post {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #fdbf6c;
}

.blog-post-content {
  padding: 90px 30px;
  color: #fff;
}

.blog-post-content > a {
  margin-bottom: 10px;
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #8087bf;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0px;
}

.blog-post-content > h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.blog-post-content > div:first-of-type {
  margin-bottom: 10px;
}

.blog-post-content > p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0px;
}

