.blog-post {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: royalblue;
}

.blog-post-content {
  margin-top: 42px;
  padding: 30px 30px 50px;
  color: #fff;
}

.blog-post-content > h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.blog-post-content > div:first-of-type {
  margin-bottom: 10px;
}

.blog-post-content > p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0px;
}

.blog-post-content > div:last-of-type a {
  margin-bottom: 40px;
  font-size: 1.2rem;
  text-decoration: none;
  color: darkorange;
}
