.blog-section-content {
  padding: 30px 20px 90px;
  color: #fff;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateX(0px);
}

.blog-section-content > h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.blog-section-content > p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.blog-section-content p a {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  color: #6e78b4;
  font-family: 'Lora', serif;
  text-decoration: none;
  letter-spacing: 1px;
}

.blog-section-content p a:hover {
  color: #434f9c;
  cursor: pointer;
}

.blog-section-content p a i {
  margin-right: 5px;
}

.blog-section-content > h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.blog-section-content .blog-post-card {
  max-width: 500px;
  margin-bottom: 15px;
  padding: 15px;
  letter-spacing: 1px;
  font-family: 'Lora', serif;
  background-color: rgba(0, 0, 0, 0.2);
  border: 4px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.blog-section-content .blog-post-card:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.blog-section-content .blog-post-card h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.blog-section-content .blog-post-card p {
  margin-bottom: 5px;
  font-family: 'Lora', serif;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
  line-height: 160%;
}

.blog-section-content .blog-post-card div {
  margin-top: 10px;
  font-size: 0.8rem;
}

@media only screen and (min-width: 769px) {

  .blog-section-content {
    max-width: 800px;
    margin: 0 50px;
  }

  .blog-section-content .blog-post-card p {
    font-size: 1.1rem;
  }

}