.blog-post {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lora, serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.blog-post-content {
  padding: 95px 20px 90px;
  width: 100vw;
}

.blog-post-content>h1 {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.blog-post-content>div {
  color: #555;
  display: inline-block;
  font-size: .9rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.blog-post-content>div:last-of-type {
  margin-left: 15px;
}

hr {
  background: #888888;
  background: -moz-linear-gradient(left, #ffffff 0%, #888888 45%, #888888 55%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%,#888888 45%,#888888 55%,#ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%,#888888 45%,#888888 55%,#ffffff 100%);
  border: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  height: 2px;
  width: 80%;
}

.blog-post-content .spinner {
  font-size: 5rem;
  text-align: center;
}

.blog-post-content article {
  left: -20px;
  padding: 40px 20px 20px;
  position: relative;
  text-align: left;
  width: 100vw;
}

.blog-post-content article p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 0 auto 15px;
  max-width: 740px;
}

.blog-post-content article pre {
  border-radius: 5px!important;
  letter-spacing: 0;
  margin: 20px auto!important;
  max-width: 740px;
  overflow-x: scroll!important;
  padding: 15px!important;
}

.blog-post-content article img {
  display: block;
  margin: 0 auto;
  max-width: 370px;
}

@media only screen and (min-width: 769px) {

  .blog-post-content article p {
    font-size: 1.1rem;
  }
  
}