.contact-content {
  padding: 30px 20px 90px;
  color: #fff;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateX(0px);
}

.contact-content h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.contact-content > div {
  padding-left: 20px;
  font-family: 'Lora', serif;
  color: #434f9c;
  letter-spacing: 1px;
  border-left: 4px solid #fff;
}

.contact-content .contact-item {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.contact-content > div i {
  display: block;
  margin-bottom: 5px;
  font-size: 2rem;
}

.contact-content .contact-item a {
  color: #6e78b4;
  text-decoration: none;
  letter-spacing: 1px;
}

.contact-content .contact-item a:hover {
  color: #434f9c;
}

.contact-content .contact-item a i {
  position: relative;
  bottom: 1px;
  display: inline;
  margin-right: 5px;
  font-size: 1rem;
}

@media only screen and (min-width: 769px) {

  .contact-content {
    max-width: 800px;
    margin: 0 50px;
  }

}
