.contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: calc(100vh + 20px);
  background-color: #fdbf6c;
}

.contact-section > header {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, #f69d67 0%,#fdbf6c 100%);
}

.contact-content {
  padding: 30px;
  color: #fff;
}

.contact-content h1 {
  font-size: 2.5rem;
}

.contact-content p {
  font-size: 1.5rem;
}