
.contact-holder {
  background-color: #d88261;
}

.contact-content {
  align-self: flex-end;
  padding: 30px 20px 90px;
  text-align: right;
  color: #303d51;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateX(0px);
}

.contact-content h1 {
  font-size: 2.5rem;
}

.contact-content > div {
  padding: 15px 20px 5px 0;
  font-family: 'Lora', serif;
  color: #303d51;
  letter-spacing: 1px;
  border-right: 4px solid #303d51;
}

.contact-content .contact-item {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #fff;
}

.contact-content > div i {
  display: block;
  margin-bottom: 5px;
  font-size: 2rem;
}

.contact-content .contact-item a {
  color: rgb(214, 230, 255);
  text-decoration: none;
  letter-spacing: 1px;
}

.contact-content .contact-item a:hover {
  color: #fff;
}

.contact-content .contact-item a i {
  position: relative;
  bottom: 1px;
  display: inline;
  margin-right: 5px;
  font-size: 1rem;
}

@media only screen and (min-width: 769px) {

  .contact-content {
    max-width: 800px;
    margin: 0 100px;
  }

  .contact-content > div {
    padding-right: 30px;
  }

}
