.footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d88261;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9rem;
  height: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  letter-spacing: 1px;
  width: 100%;
  z-index: 1;
}

.footer>i {
  color: rgb(214, 230, 255);
  font-size: 2rem;
  margin-left: 20px;
  position: relative;
}

.footer>i:hover {
  color: #fff;
  cursor: pointer;
}

.footer span {
  bottom: 1px;
  letter-spacing: 1px;
  margin-right: 20px;
  position: relative;
  visibility: hidden;
}

.footer span>i {
  width: 20px;
}