.landing-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh + 20px);
  background-color: #fdbf6c;
}

.landing-content {
  margin-top: -30px;
  align-self: center;
  text-align: center;
  color: #fff;
}

.landing-content h1 {
  font-size: 2.5rem;
}

.landing-content p {
  font-size: 1.5rem;
}
