.landing-section {
  background-color: #d88261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh + 20px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.landing-content {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.name-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 160px;
  margin: 0 auto 10px;
  width: 160px;
}

.name-flex>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.name-flex>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.name-flex>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.name-flex>*:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.name-flex>*:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.name-flex>*:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.name-flex>*:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.name-flex>*:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.name-flex>*:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.name-letter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.name-letter:nth-child(1) {
  color: rgb(255, 255, 255);
}

.name-letter:nth-child(2) {
  color: rgb(214, 230, 255);
}

.name-letter:nth-child(3) {
  color: rgb(214, 230, 255);
}

.name-letter:nth-child(4) {
  color: rgb(177, 182, 190);
}

.name-letter:nth-child(5) {
  color: rgb(151, 158, 168);
}

.name-letter:nth-child(6) {
  color: rgb(125, 134, 146);
}

.name-letter:nth-child(7) {
  color: rgb(100, 110, 125);
}

.name-letter:nth-child(8) {
  color: rgb(74, 85, 103);
}

.name-letter:nth-child(9) {
  color: rgb(48, 61, 81);
}

.landing-content p {
  color: #fff;
}