.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.nav-left {
  margin-left: 16px;
}

.nav-left a img {
  position: relative;
  top: 2px;
  width: 120px;
}

.nav-left a:hover {
  color: #e6e6e6;
}

.nav-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  padding-top: 40px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(-100%);
  transition: transform 0.35s linear;
}

.expanded {
  transform: translateX(0%);
}

.nav-list li {
  margin-bottom: 30px;
  padding-right: 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
}

.nav-link:hover {
  color: #ddd;
}

.nav-arrow {
  width: 1.15rem;
}

.muted {
  opacity: 0.5;
  pointer-events: none;
}

.burger {
  width: 36px;
  height: 28px;
  position: relative;
  top: 2px;
  margin-right: 18px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2), .burger span:nth-child(3) {
  top: 10px;
}

.burger span:nth-child(4) {
  top: 20px;
}

.burger.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.burger.open span:nth-child(2) {
  transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/**************************************************/

/* .nav-list {
  display: flex;
  margin-right: 16px;
}

.nav-link {
  margin-right: 15px;
  font-size: 1.2rem;
} */
