.not-found {
  background-color: #d88261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.not-found-content {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #fff;
  text-align: center;
}

.not-found-content h1 {
  color: rgb(76, 89, 166);
  font-size: 5rem;
}

.not-found-content h2 {
  font-size: 1.6rem;
}