.portfolio-content {
  padding: 30px 20px 90px;
  color: #fff;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateX(0px);
}

.portfolio-content h1 {
  font-size: 2.5rem;
}

.portfolio-content h3 {
  margin: 15px 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.portfolio-content div {
  padding-left: 20px;
  border-left: 4px solid #fff;
}

.portfolio-content img {
  width: 270px;
  margin-bottom: 8px;
  border-radius: 15px;
}

.portfolio-content p {
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  line-height: 160%;
  color: #434f9c;
}

@media only screen and (min-width: 769px) {

  .portfolio-content {
    max-width: 800px;
    margin: 0 50px;
  }

  .portfolio-content p {
    font-size: 1.1rem;
  }

}