.portfolio-holder {
  background-color: #d88261;
}

.portfolio-content {
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #303d51;
  opacity: 0;
  padding: 30px 20px 90px;
  text-align: right;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.portfolio-content h1 {
  font-size: 2.5rem;
}

.portfolio-content h3 {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.portfolio-content>div {
  border-right: 4px solid #303d51;
  overflow-x: hidden;
  padding: 15px 20px 15px 0;
  text-align: right;
}

.portfolio-content img {
  border: 3px solid #fff;
  margin-bottom: 8px;
}

.portfolio-content p {
  color: #fff;
  font-family: Lora, serif;
  letter-spacing: 1px;
  line-height: 160%;
  margin-bottom: 15px;
}

.portfolio-content a {
  color: rgb(214, 230, 255);
  display: block;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
}

.portfolio-content a:hover {
  color: #fff;
  cursor: pointer;
}

.portfolio-content a i {
  margin-right: 5px;
}

.spacer {
  background-color: #303d51;
  display: inline-block;
  height: 4px;
  margin: 25px 0;
  position: relative;
  right: -30px;
  top: 6px;
  visibility: hidden;
  width: 30px;
}

@media only screen and (min-width: 769px) {

  .portfolio-content {
    margin: 0 100px;
    max-width: 80%;
  }

  .portfolio-content>div {
    padding-right: 30px;
  }

  .portfolio-content p {
    font-size: 1.1rem;
  }

}